
.bg-image{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwQmvZ51fwJLJaS0P8ZRTITiTBCjlbTrlAqA&usqp=CAU');
        height: 400px;
}

form .form-outline .form-control{
    border: 1px solid black;
}

.card-img-top {
    width: 150px;
    height: 300px;
    /* object-fit: cover; */
  }
  .card-body{
    height: 175px;
}

.cart-container #selected-product .cart-item{
    display: flex;
}
.cart-container #selected-product .cart-item .left{
    width: 300px;
    margin: auto;
}
.row .col-lg-4 .w-100 .flex-column .card-footer .add-to-cart-button{
    width: 50px;
    margin-left: 5px;
}
.cart-item{
    border: 1px solid rgb(232, 238, 232);
    border-radius: 5px;
}

.multiply-button, .multiply-button1, .checkout-link{
    margin: auto;
}

.remove-button{
    margin: auto;
    width: 100px;
    color: rgb(224, 110, 110);
}
.remove-from-cart-button{
    margin: auto;
    width: 100px;
    color: rgb(224, 110, 110);

}
.text-center label{
    display: block;
    font-size: 20px;
    
}
.perItem{
    font-size: 10px;
    color: green;
    margin-top: 10px;
}
.cartContentDisplay{
    display: flex;
    flex-wrap: wrap;
}
.cartContentDisplay .cart-container{
    width: 75%;
}
.cartContentDisplay .PurchasePrice{
    width: 25%;
    border: 1px solid rgb(232, 238, 232);

}

table tbody tr td span{
    color: rgb(234, 157, 157);
    cursor: pointer;
}

.stordData{
    display: flex;
}
.stordData p{
    width: 200px;
    border-spacing: 5px;
}
.stordData p .product{
    width: 50px;
    height: 50px;
}
#displayCheckout table tr{
    border: none;
}
#displayCheckout table tr th,td{
    border: none;
    text-align: center;
    width: 200px;
}
#productsForYou{
    display: flex;
    flex-wrap: wrap;
}
 
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid, .simple{
    color: red;
    /* font-size: 8px; */
  }
  
  
  .invalid:before {
    position: relative;
    content: "✖";
  }
  #password-strength{
    margin-top: -7px;
  }