
.bg-image{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwQmvZ51fwJLJaS0P8ZRTITiTBCjlbTrlAqA&usqp=CAU');
        height: 400px;
}

form .form-outline .form-control{
    border: 1px solid black;
}

.card-img-top {
    width: 150px;
    height: 300px;
    /* object-fit: cover; */
  }
  .card-body{
    height: 175px;
}

.cart-container #selected-product .cart-item{
    display: flex;
}
.cart-container #selected-product .cart-item .left{
    width: 300px;
    margin: auto;
}
.row .col-lg-4 .w-100 .flex-column .card-footer .add-to-cart-button{
    width: 50px;
    margin-left: 5px;
}
